<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>{{ title if title else "Kip Asistan" }}</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}?v=12">

    {% block head %}{% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='js/app.js') }}?v=101"></script>

{% block scripts %}{% endblock %}

</body>

</html>